<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Magedebuger>
            <version>0.1.0</version>
        </Magestore_Magedebuger>
    </modules>
    <frontend>
        <routers>
            <magedebuger>
                <use>standard</use>
                <args>
                    <module>Magestore_Magedebuger</module>
                    <frontName>magedebugger</frontName>
                </args>
            </magedebuger>
        </routers>
        <layout>
            <updates>
                <magedebuger>
                    <file>magedebuger.xml</file>
                </magedebuger>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<magedebuger>
				<use>admin</use>
				<args>
					<module>Magestore_Magedebuger</module>
					<frontName>magedebuger</frontName>
				</args>
			</magedebuger>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<system>            
				<children>
					<magedebuger module="magedebuger">
						<title>Magebugger Cache</title>
						<sort_order>100</sort_order>
						<action>magedebuger/adminhtml_magedebuger</action>
					</magedebuger>
				</children>
			</system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magestore_Magedebuger>
							<title>Magedebugger Module</title>
							<sort_order>10</sort_order>
						</Magestore_Magedebuger>
					</children>
				</admin>
			</resources>
		</acl>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <magedebuger translate="title" module="magedebuger">
                                            <title>Magede bugger</title>
                                            <sort_order>50</sort_order>
                                        </magedebuger>								
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>				
		<layout>
			<updates>
				<magedebuger>
					<file>magedebuger.xml</file>
				</magedebuger>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <magedebuger>
                <class>Magestore_Magedebuger_Model</class>
            </magedebuger>
        </models>
        <blocks>
            <magedebuger>
                <class>Magestore_Magedebuger_Block</class>
            </magedebuger>
        </blocks>
        <helpers>
            <magedebuger>
                <class>Magestore_Magedebuger_Helper</class>
            </magedebuger>
        </helpers>
    </global>
	<default>
		<magedebuger>
			<general>
				<allowed_ips>127.0.0.1,127.0.0.1</allowed_ips>
			</general>
		</magedebuger>
	</default>
</config>